<h2>Запись на прием клиента</h2>
<br />
<p><b>Имя: </b><%= @client.name %></p>
<p><b>Телефон: </b><%= @client.phone %></p>
<p><b>День: </b><%= @client.datestamp %></p>
<p><b>Мастер: </b><%= @client.barber %></p>
